@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --cor-primaria: #222831;
  --cor-secundaria: #F2F2F2;
  --cor-terciaria: #EEEEEE;
  --cor-hover: #76ABAE;

  --fonte-primaria: 'Montserrast', sans-serif;
  --fonte-secundaria: 'Roboto', sans-serif;
  --fonte-terciaria: 'Krona One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: var(--cor-primaria);
  
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--cor-secundaria);
}

main div {
  padding: 30px;  
}

a {
  text-decoration: none;
}

span {
  padding: 10px;
  border: 1px solid var(--cor-terciaria);

  color: var(--cor-terciaria);
}

.menu {
  display: flex;
  gap: 80px;  

  padding: 2% 0 0 15%;
}

.menu__pages {
  padding: 30px;
}

.menu a {
  font-weight: 550;
  font-family: var(--fonte-primaria);
  font-size: 20px;
  color: var(--cor-terciaria);
}

.menu a:hover {
  color: var(--cor-secundaria);
}

.apresentation {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 3% 15%;
  background-color: b;
}

.site-subtitle,
.site-title {
  padding-top: 20px;
  color: var(--cor-terciaria);
  text-align: center;
}

.site-subtitle {
  font-style: italic;
  font-size: 20px;
}

.apresentation__initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: var(--cor-primaria);
}

.apresentation__initial__title {
  font-size: 50px;
  font-family: var(--fonte-terciaria);
}

.apresentation__initial__text {
  font-size: 20px;
}


.apresentation__experiences {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.apresentation__initial__image {
  width: 50%;  
}

.apresentation__utils {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-top: 80px;
}

.apresentation__utils a {
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  width: 180px;
  padding: 10px;
  color: var(--cor-secundaria);
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.apresentation__utils a:hover {
  color: var(--cor-secundaria);
  border: 2px solid;
  background-color: #272727;
}

.skills h2 {
  margin-bottom: 20px;
}

.footer {
  padding: 24px;

  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);

  font-weight: 900;
  font-size: 22px;
  font-family: var(--fonte-primaria);
  text-align: center;
}