@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --cor-primaria: #222831;
  --cor-secundaria: #F2F2F2;
  --cor-terciaria: #EEEEEE;
  --cor-hover: #76ABAE;

  --fonte-primaria: 'Montserrast', sans-serif;
  --fonte-secundaria: 'Roboto', sans-serif;
  --fonte-terciaria: 'Krona One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  color: var(--cor-secundaria);
}

main div {
  padding: 30px;  
}

a {
  text-decoration: none;
}

span {
  border: 1px solid var(--cor-terciaria);
  padding: 10px;
  color: var(--cor-terciaria);
}

.menu {
  padding: 2% 0 0 15%;

  display: flex;
  gap: 30px;  
}

.menu__pages {
  padding: 30px;
}

.menu a {
  font-weight: 550;
  font-family: var(--fonte-primaria);
  font-size: 1.25rem;
  color: var(--cor-terciaria);
}

.menu a:hover {
  color: var(--cor-hover);
}

.apresentation {
  padding: 8% 25%;
  
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: var(--cor-primaria);
}

.site-subtitle,
.site-title {
  padding-top: 20px;
  color: var(--cor-terciaria);
  text-align: center;
}

.site-subtitle {
  font-style: italic;
  font-size: 1.25rem;
}

.apresentation__initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: var(--cor-primaria);
}

.apresentation__initial__title {
  font-size: 2.5rem;
  width: 100%;
  font-family: var(--fonte-terciaria);
}

.apresentation__initial__body {
  width: 100%;
  display: flex;
  margin-right: 100px;

}

.apresentation__initial__body_about_me {
  width: 60%;
}

.apresentation__image__section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentation__image__main {
  width: 100%;
  margin-top: 100px;
}

.apresentation__initial__text__introdution {
  font-family: var(--fonte-terciaria);
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cor-terciaria);
}

.apresentation__experiences {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.apresentation__utils {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-top: 180px;
  margin-left: 60px;
}

.apresentation__utils a {
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  width: 80%;
  padding: 10px;
  color: var(--cor-secundaria);
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.apresentation__utils a:hover {
  color: var(--cor-hover);
  border: 2px solid;
  background-color: #272727;
}

.skills h2 {
  margin-bottom: 20px;
}

.footer {
  padding: 24px;

  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);

  font-weight: 1000;
  font-size: 1.5rem;
  font-family: var(--fonte-primaria);
  text-align: center;
}

@media(max-width: 1000px) {
  .apresentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .menu {    
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;  
  }

  .menu a{    
    text-align: center;
    padding: 20px;  
    font-size: 30px;
  }

  .apresentation__initial {
    width: 100%;
  }

  .apresentation__initial__body {
    width: 100%;
  }

  .apresentation__initial__body_about_me {
    width: 100%;
  }

  .apresentation__initial__body_about_me p {
    text-align: center;
    font-size: 40px;
  }
  
  .apresentation__image__section {
    width: 100%;
  }

  .apresentation__image__main {
    width: 100%;
    margin-top: 0px;
  }

  .apresentation__utils {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 50px 0px;
  }
}